article table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.95em;
}
article table thead tr {
  background-color: #333;
  color: #fff;
  text-align: left;
}
article table th,
article table td {
  padding: 12px 16px;
  vertical-align: top;
  line-height: 1.5;
}
article table th {
  font-weight: 700;
  white-space: nowrap;
}
article table tbody tr {
  border-bottom: 1px solid #ddd;
}
article table tbody tr:nth-of-type(even) {
  background-color: #f8f8f8;
}
article table tbody tr:hover {
  background-color: #f1f1f1;
}
article table td:first-child {
  font-weight: 600;
  white-space: nowrap;
}
